<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    {% if request.user.is_authenticated %}
    <p>현재 사용자는 {{ request.user.username }}</p>
    <form action="{% url "accounts:logout" %}" method="POST">
            {% csrf_token %}
            <button>로그아웃</button>
        </form>
        <form action="{% url "accounts:delete" %}" method="POST">
            {% csrf_token %}
            <button>회원탈퇴</button>
        </form>
        <form action="{% url "accounts:update" %}" method="GET">
            <button>정보수정</button>
        </form>
    {% else %}
        <form action="{% url "accounts:login" %}" method="GET">
            <button>로그인</button>
        </form>
        <form action="{% url "accounts:signup" %}" method="GET">
            <button>회원가입</button>
        </form>
    {% endif %}
    <hr>
</body>
</html>